<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome <%= @user %></h1>
    <p>
      User <%= @current_user_email %> invited you to budget application. Thanks to this application you can organized your family budget.  
    </p>
    <p>
      To login to the page visit <%= @url %> and use your gmail account data to sign up.
    </p>
    <p>
      Have a great day!
    </p>
  </body>
</html>
