<% if @users.empty? %>
  <p>No members</p>
<% else %>
  <table class="table table-striped">
    <thead>
		  <tr>
		    <th>No.</th>
		    <th>Email</th>
		    <th>Delete</th>
		  </tr>
		</thead>
	  <tbody>
		  <% @users.each_with_index do |user, index| %>
		    <tr>
		      <td><%= index+1 %></td>
		      <td><%= user.email %></td>
		      <td><%= link_to 'Delete', destroy_user_path(user.id), :class => "btn btn-primary", data: { confirm: 'Are you sure?' } %></td>
		    </tr>
		  <% end %>
	  </tbody>
	</table>
<% end %>

<div class="form-actions">
  <%= link_to "Add new family member", new_user_path, :class => "btn btn-primary" %>
</div>  

