<h2>O projekcie</h2>
<p>
  Easy cash planner to aplikacja wspomagająca planowanie domowego budżetu. Pozwala ona na kontrolowanie zawartości portfela w bardzo łatwy sposób. Możesz dodawać nowe kategorie, wydatki i przychody. Masz możliwość w prosty sposób zaplanować kategorię, dodając przyszłe wydatki. Aplikacja pozwala Ci zapraszać innych ludzi (np. członków rodziny) tak, aby każdy z nich miał dostep do portfela.
</p>

<p>
  Aplikacja zaczęła działać w listopadzie 2012 roku jako projekt siedmioosobowej grupy praktykantów w ramach jesiennych praktyk 2012 firmy Ragnarson. Skupiliśmy się przede wszystkim na prostocie, wygodzie użytkownika i użyteczności aplikacji.
</p>

<p>
  Mentorzy:
  <ul>
    <li>Michał Kwiatkowski (michalk@ragnarson.com)</li>
    <li>Oskar Szrajer (gotar@ragnarson.com)</li>
  </ul>
</p>

<p>
  Twórcy:
  <ul>
    <li>Maciej Borosiewicz (m.borosiewicz@gmail.com)</li>
    <li>Marcin Brzeziński (marcin.brzezinski.inf@gmail.com)</li>
    <li>Rafath Khan (rafath@zaraz.pl)</li>
    <li>Karolina Kruk (karolina.anna.kruk@gmail.com)</li>
    <li>Maciej Małecki (smt116@gmail.com)</li>
    <li>Dawid Milewski (dawidmilewski89@gmail.com)</li>
    <li>Sebastian Wesołowski (seba.wesol@gmail.com)</li>
  </ul>
</p>
