<div class="center hero-unit">
  <h1>Welcome to the Budget Application</h1>

  <% if !user_signed_in? %>
    <div class="span4 offset4">
      <%= link_to "Login via Google account", user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-inverse btn-large" %>
    </div>
  <% end %>
</div>
