<% if !user_signed_in? %>
  <div class="pagination-centered hero-unit">
    <h2>Welcome to the Budget Application</h2>
    <div>
      <%= link_to "Login via Google account", user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-inverse btn-large" %>
    </div>
  </div>
<% else %>
  <%= render 'expenses/form' %>
<% end %>
