<%= simple_form_for @wallet, url: create_budget_path, html: {class: "form-horizontal"} do |f| %>
    <%= f.input :name %>
    <%= f.input :amount, as: :currency, wrapper: 'append' %>

    <div id="budget_amount_wrapper"></div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
<% end %>
