<%= simple_form_for @wallet, :url=> create_budget_path, :html=>{:class=> "form-horizontal"} do |f| %>
  <div class="control-group">
    <%= f.input :name, :label=> 'Budget name', :class=> 'control-label' %>
    <%= f.input :amount, :label=> 'Amount', :class=> 'control-label' %>
    <div class="form-actions">
      <%= f.button :submit, 'Add budget', :class=> 'btn btn-primary' %>
    </div>
  </div>
<% end %>