<ul>
  <%- @wallets.each do |wallet| %>
    <li><%= link_to wallet.name, edit_wallet_path(wallet.id) %>
      (<%= link_to 'delete', wallet_path(wallet.id), :confirm => "Are you sure you want to delete this budget?", :method => :delete %>)</li>
  <%- end %>
</ul>
<%= link_to 'add new budget', new_wallet_path %>