development:
  adapter: postgresql
  encoding: unicode
  database: budget_development
  pool: 5
  username: budget
  password: budget

test:
  adapter: postgresql
  encoding: unicode
  database: budget_test
  pool: 5
  username: budget
  password: budget

production:
  adapter: postgresql
  encoding: unicode
  database: budget_production
  pool: 5
  username: budget
  password: budget
