development: &default
  adapter: postgresql
  encoding: unicode
  database: budget_development
  pool: 5
  username: budget
  password: budget

test:
  <<: *default
  database: budget_test

production:
  <<: *default
  database: budget_production
