html, body {
  height: 100%;
}
body {
  padding-top: 0;
}
form input[type="text"] {
  font-size: 16px;
}
.wrapper-inner {
  border-top: 60px solid transparent;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}
.push {
  height: 70px;
}
@media(max-width: 979px) {
  .wrapper-inner {
    border-top: 0 none;
  }
}
.hero-unit h2 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}
#wallet_amount_wrapper ul.income_options {
  list-style: none;
  margin-left: 160px;
}
ul.income_options li {
  margin-bottom: 6px;
}
.wallet-amount .help-inline {
  vertical-align: top;
  padding-top: 4px;
}
footer .addthis_default_style {
    margin-top: 10px;
}
.footer-links {
  float: left;
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
input.currency {
  width: 169px;
}
input.percent {
  width: 179px;
}
.alert:first-letter {
  text-transform: uppercase;;
}
.navbar .nav.lang > li > a {
  padding: 10px 2px;
  display: inline-block;
}
.navbar .nav.lang {
  padding: 0 15px;
}
.navbar .nav.lang > li > a.active {
  color: #fff;
  background-color: transparent;
}
.btn + .btn-danger {
  margin-left: 10px;
}
ul.expenses {
  margin-left: 40px;
}
ul.expenses li {
  margin-bottom: 6px;
  list-style: square;
}

tr.expense td.amount {
  color: red;
}

tr.income td.amount{
  color: green;
}

tr.balance td.amount{
  font-weight: bold;
}

tr.second-day{
  background-color: #f9f9f9;
}
.display-none{
  display: none;
}
.form-actions .btn + a {
  margin-left: 10px;
}
table.tablesorter {
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  padding: 4px;
}
table.tablesorter thead tr .header {
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background: url(asc.gif) right no-repeat;

}
table.tablesorter thead tr .headerSortDown {
  background: url(desc.gif) right no-repeat;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}
.pagination ul li.current {
  font-weight: bold;;
}
>>>>>>> added family and user fields to expenses with proper migration
added monthly pagination for expenses, removed numerical pagination
added tablesorter.js for sorting expenses:app/assets/stylesheets/custom.css
