html, body {
  height: 100%;
}
body {
  padding-top: 0;
}
.wrapper-inner {
  border-top: 60px solid transparent;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}
.push {
  height: 70px;
}
@media(max-width: 979px) {
  .wrapper-inner {
    border-top: 0 none;
  }
}
.hero-unit h2 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}
#budget_amount_wrapper ul.income_options {
  list-style: none;
  margin-left: 160px;
}
ul.income_options li {
  margin-bottom: 6px;
}
.budget-amount .help-inline {
  vertical-align: top;
  padding-top: 4px;
}
footer .addthis_default_style {
    margin-top: 10px;
}
.footer-links {
  float: left;
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
input.currency {
  width: 169px;
}
input.percent {
  width: 179px;
}
.alert:first-letter {
  text-transform: uppercase;;
}
.navbar .nav.lang > li > a {
  padding: 10px 2px;
  display: inline-block;
}
.navbar .nav.lang {
  padding: 0 15px;
}
.navbar .nav.lang > li > a.active {
  color: #fff;
  background-color: transparent;
}
