.hero-unit h2 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

article {
  min-height: 550px;
}

footer {
  text-align: center;
}

#budget_amount_wrapper ul.income_options {
  list-style: none;
  margin-left: 160px;
}
ul.income_options li {
  margin-bottom: 6px;
}
.budget-amount .help-inline {
  vertical-align: top;
  padding-top: 4px;
}