<footer class="modal-footer hidden-phone">
  <div class="container">
    <div class="row">
      <div class="span8">
        <ul class="footer-links">
          <li>Project Budget 2012</li>
          <li class="muted">·</li>
          <li><%= link_to "Source code @ Github", "http://github.com/Ragnarson/budget" %></li>
          <li class="muted">·</li>
          <li><%= link_to "Hosted @ Shelly Cloud", "http://shellycloud.com" %></li>
          <li class="muted">·</li>
          <li><%= link_to "Ragnarson", "http://ragnarson.com" %></li>
        </ul>
      </div>
      <div class="span4">
        <div class="addthis_toolbox addthis_default_style">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_pinterest_pinit"></a>
          <a class="addthis_counter addthis_pill_style"></a>
        </div>
      </div>
    </div>
  </div>
</footer>