!!!
%html
  %head
    %title Budget System
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => '', :name => "keywords"}/
    %meta{:content => '', :name => "description"}/
    =csrf_meta_tag
    = stylesheet_link_tag 'application', :media => 'all'
    /[if lt IE 9]
      =javascript_include_tag('http://html5shiv.googlecode.com/svn/trunk/html5.js', :media => 'all')
    = javascript_include_tag  'application'

  %body{:class=> "#{controller_name} #{action_name}"}
    =yield
